.edit-panel {
  display: flex;
  flex-direction: column;
  width: 50vmin;
}

button {
  width: 5em;
  border-radius: 5px;
  margin: 0.5em;
}

input {
  border-radius: 5px;
  outline: 0px none transparent;
  width: 35vmin;
  height: 2em;
  margin: 4px;
}
/* input[type="submit"] {
  width: 25vmin;
} */
select {
  border-radius: 5px;
  width: 35vmin;
  height: 2em;
}

fieldset {
  margin: 5px;
  padding: 0 10px 10px;
  border: 1px solid #666;
  border-radius: 6px;
  /* box-shadow: 0 0 4px #666; */
  padding-top: 10px;
}
legend {
  padding: 2px 4px;
  background: #fff;
  /* For better legibility against the box-shadow */
}
fieldset > legend {
  float: left;
  margin-top: -20px;
}
fieldset > legend + * {
  clear: both;
}
